:root {
	--site-type: 'Work Sans', sans-serif;
	--main-accent: #6402a8;
	--bg-color: #fbfb90;
}

html {
	font-family: var(--site-type);
	background: var(--bg-color);
}

p.tagline {
	font-size: 14px;
}

a {
	color: var(--main-accent);
}

blockquote {
	border-color: var(--main-accent);
}