:root {
	--heading-type: 'Gentium Basic', 'Times New Roman', serif;
    --site-type: 'Times New Roman', serif;
	--dark-main-accent: #ffd700;/* #6402a8; */
    --dark-bg-color: #001d26;/* #022c43; #fbfb90; */
    --dark-text-color: #ffffff;
    --light-bg-color: #fffbcc;
    --light-text-color: #000;
    --light-main-accent: #001d26;/* #6402a8; */
    --link-hover: #f8b739;/* #ee4266; */
    --cheats-heading-color: #32cd32;
}

/* Light Theme */

body.light {
    background: var(--light-bg-color);
    color: var(--light-text-color);
}

body.light a {
	color: var(--light-main-accent);
}

body.light .site-header::after {
    background-color: var(--light-main-accent);
    border-radius: 50%;
    border: 1px solid var(--light-main-accent);
}

body.light #themeToggle {
    background: var(--dark-bg-color);
}

body.light #themeToggle::after {
    background-color: var(--light-bg-color);
}

body.light hr {
    border-color: var(--light-main-accent);
}


/*  Dark Theme */

body.dark {
	background: var(--dark-bg-color);
    color: var(--dark-text-color);
}

body.dark a {
	color: var(--dark-main-accent);
}

body.dark hr {
    border-color: var(--dark-main-accent);
}

blockquote {
	border-color: var(--dark-main-accent);
}

a:hover, a:focus {
    color: var(--link-hover);
}

body.dark #themeToggle {
    background-color: var(--light-bg-color);
    border: 1px solid var(--dark-bg-color);
}

body.dark #themeToggle::after {
    background: var(--dark-bg-color);
}

body.dark .post .post-header {
    border-bottom: 1px solid var(--dark-text-color);
}



body {
	font-family: var(--site-type);
    font-size: 1.0rem;
    min-height: 100vh;
    padding: 1.5rem;
}

h1, h2, h3, h4, h5, h6, a {
    font-family: var(--heading-type);
    line-height: 1.2;
}

h3, h4, h5, h6 {
    font-size: 1.5rem;
}



.site-header {
    position: relative;
}

.site-header h1,
.site-header .tagline {
    max-width: 250px;
}

.site-header::after {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    background: transparent url("../images/sw.svg") 0 0 no-repeat;
    position: absolute;
    right: 0;
    top: 0%;
    transform: translateY(0%);
    background-size: 100%;
}

#themeToggle {
    font-size: 0;
    border: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;    
    position: absolute;
    right: 42px;
    top: 0%;
    transform: translateY(0%);
    cursor: pointer;
}

#themeToggle::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    transform: translateX(-30%);
}


p.tagline {
	font-size: 16px;
}

.posts time + a {
    margin-left: 0rem;
}

footer {
	text-transform: uppercase;
	font-weight: 900;
}



/* Cheatsheets */

.cheats {
    margin: 0 0 0 1rem;
}

.cheats::after {
    content: "";
    display: table;
    clear: both;
}

.cheats article {
    font-size: 12px;
    font-family: Fira Mono;
    color: #fff;
    background: #000;
    display: table;
    float: left;
    margin: 0 1rem 1rem 0;
    padding: 20px;
    border-radius: 3px;
    text-align: left;
    background: #232526;
    background: -webkit-linear-gradient(to top, #414345, #232526);
    background: linear-gradient(to top, #414345, #232526);
}

.cheats article header h3 {
    font-size: 1rem;
    color: var(--cheats-heading-color);
}

.cheats th, .cheats td {
    padding: 3px 5px;
}

.cheats table tr th:not(:last-child), .cheats table tr td:not(:last-child) {
    border-right: 1px dashed rgba(238, 238, 238, 0.5);
}

.cheats table td {
    border-top: 1px dashed rgba(238, 238, 238, 0.5);
}

code[class*="language-"], pre[class*="language-"], code {
    font-family: Fira Mono, monospace;
    font-size: 12px;
}

:not(pre) > code[class*="language-"], pre[class*="language-"], code {
    background: #000;
}

span.token.class-name {
    color: #d0d07f;
}

pre code {
    padding: 0;
}

code {
    padding: .125rem .25rem;
}

input.filter {
    width: 100%;
    border: 3px solid #6959a37a;
    line-height: 2rem;
    padding: 0 0.7rem;
    border-radius: 3px;
    font: 16px/2.3rem Work Sans, sans-serif; 
}




/* Bootstrap 4.0 responsive media queries */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .site-header h1,
    .site-header .tagline {
        max-width: 100%;
    }

    #themeToggle, 
    .site-header::after {
        top: 50%;
        transform: translateY(-50%);
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .posts time + a {
        margin-left: 1rem;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}