.logo-link {
  flex-wrap: wrap;
}
.logo-link h1 {
  font-size: 28px;
  flex: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 10px;
}
#progressBar {
  position: fixed;
}

.post-row .article-link {
  flex: 50% 0;
  max-width: none !important;
}

.post-row > a.article-link:nth-child(1) {
  margin-right: 2rem;
}

.post-row > a.article-link:nth-child(2) {
  margin-left: 2rem;
}

blockquote > p {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 10px;
}

.article-hero::before,
.article-hero::after {
  display: none;
}

.article-hero-image {
  position: relative;
  margin-bottom: 160px;
}

.image-container {
  background-color: #ffffff;
}

#articleContent {
  padding-top: 0;
  padding-left: 4rem;
  padding-right: 4rem;
}

ul {
  list-style: circle;
  counter-reset: revert;
}
ol {
  list-style: decimal;
}

ul li::before,
ol li::before {
  display: none;
}

ol ul {
  display: block;
  padding: 0 0 0 1rem;
}
