#th-app{
	width: 800px;
	margin:auto;
}
textarea {
	display: block;
	width: 800px;
	height: 400px;
}
.clicked {
	background: green;
}
h1:not(.clicked) {
	background: #eee;
}
h1 {
	padding: 20px;
}